<div class="comment">
  <strong class="comment-author"><%= comment.author.username %>:</strong>
  <p class="comment-text"><%= comment.text %></p>
  <%= render "shared/like_button", likeable: comment %>
</div>
