<div class="comment">
  <div class="comment-content">
    <strong class="comment-author"><%= comment.author.username %>:</strong>
    <p class="comment-text"><%= comment.text %></p>
  </div>
  
  <%= render "shared/likes/button", likeable: comment %>
</div>
