<% if comments.any? %>
  <h2>Comments</h2>
  <ul class="comments-list">
    <% comments.each do |comment| %>
      <li class="comment-item">
        <%= render "shared/comments/comment", comment: comment %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No comments yet.</p>
<% end %>