<h1><%= @your_page ? 'Your' : @user.username + "'s"  %> Page</h1>
<% if flash[:success] %>
  <p class="flash-success"><%= flash[:success] %></p>
<% elsif flash[:failure] %>
  <p class="flash-failure">Error: <%= flash[:failure] %></p>
<% end %>

<% unless @your_page %>
  <% button_to "Follow request", request_path(sender: current_user, receiver: @user) %>
<% else %>
  <p>This is your page.</p>
<% end %>