<h1><%= @your_page ? 'Your' : @user.name + "'s"  %> Page</h1>

<% unless @your_page %>
  <% link_to "Follow request", new_follow_request_path(sender: current_user, receiver: @user) %>
<% else %>
  <p>This is your page.</p>
<% end %>