<div class="post-form-container">
  <h1>New Post</h1>

  <%= simple_form_for @post, html: { class: "post-form" } do |f| %>
    <%= f.input :title,
      input_html: {
        placeholder: "Post #{current_user.posts.count + 1}"
      } %>

    <%= f.input :text,
      as: :text,
      input_html: {
        placeholder: "Post Content",
        rows: 8
      } %>

    <%= f.button :submit,
      "Create Post",
      class: "btn" %>
  <% end %>
</div>