.home {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero {
  text-align: center;
  padding: 2rem 0;

  h1 {
    margin-bottom: .75rem;
  }
}

.post-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .post-section-title {
    margin: 0;
    user-select: none;
  }
}

.post-grid {
  display: grid;
  gap: 1rem;
}