.container {
  width: min(900px, 90%);
  margin: 2rem auto;
}

.navbar {
  background: var(--primary);

  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--text)
  }
}

.navbar__left {
  display: flex;
  gap: 1rem;
}

.navbar__right {
  display: flex;
  gap: 1rem;
}
