:root {
  --primary: #123A6D;
  --primary-light: #295C9A;
  --secondary: #B88A1A;
  --background: #0E2548;
  --surface: #F8F8F5;

  --text: #ebebeb;
  --text-secondary: #D9B44A;
  --text-hover: #295C9A;

  --border: 3px solid #4068A3;
  --border-negative: 3px solid #B88A1A;
  --border-radius: 8px;
}